include LICENSE
include MANIFEST.in
include README.rst
recursive-include user_payments/static *
recursive-include user_payments/locale *
recursive-include user_payments/templates *
recursive-include user_payments/stripe_customers/static *
recursive-include user_payments/stripe_customers/locale *
recursive-include user_payments/stripe_customers/templates *
recursive-include user_payments/user_subscriptions/static *
recursive-include user_payments/user_subscriptions/locale *
recursive-include user_payments/user_subscriptions/templates *
