{% load i18n static %}

{% if customer.customer.default_source %}

  {% with source=customer.customer.default_source %}
    {{ source.brand }},
    endend auf {{ source.last4 }},
    gültig bis {{ source.exp_month }}/{{ source.exp_year }}.
  {% endwith %}
  <form method="post" action="{{ charge_url }}">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ payment.id.hex }}">
    <button type="submit">{{ moocher.title }}</button>
  </form>

{% else %}

  <form method="post" action="{{ charge_url }}" id="card-form"
      data-publishable-key="{{ publishable_key }}">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ payment.id.hex }}">

    <div class="row">
      <div class="small-12 columns">
        <h4>{{ moocher.title }}</h4>
        <div id="card-element"></div>
        <div id="card-errors" role="alert">&nbsp;</div>
        <div class="payment__checkbox">
        <input type="checkbox" required>
        <label>Ich akzeptiere die <a href="/impressum/" target="_blank">AGB</a></label>
      </div>
        <button type="submit" href="{% url 'signup:thanks' %}">Zahlen</button>
      </div>
      <div class="small-12 large-6 columns">



      </div>
    </div>

  </form>

  <script src="https://js.stripe.com/v3/"></script>
  <script src="{% static 'stripe_customers/cards.js' %}"></script>

{% endif %}
